<html>
  <body>
    <p>PAGE POTIN
    Voici la page du potin n°X
    Son auteur : ==author==
    Le contenu du potin : ==content==
    
    Lien pour revenir à la page des potins </p>
  </body>
</html>